extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3 Aluno Recebido
            .w3-container
                form.w3-container(action='/processaForm',method='POST')
                    h2 
                        b Aluno:
                    label.w3-text-teal
                        b Nome
                    input.w3-input.w3-border.w3-light-grey(type='text',name='nome')
                    label.w3-text-teal
                        b Número / Identificador
                    input.w3-input.w3-border.w3-light-grey(type='text',name='numero')
                    label.w3-text-teal
                        b Curso
                    input.w3-input.w3-border.w3-light-grey(type='text',name='curso')
                    label.w3-text-teal
                        b Instituição
                    input.w3-input.w3-border.w3-light-grey(type='text',name='inst')
                    hr.w3-container
                    h2
                        b Informação da Tese:
                    label.w3-text-teal
                        b Titulo
                    input.w3-input.w3-border.w3-light-grey(type='text',name='titulo')
                    label.w3-text-teal
                        b Data
                    input.w3-input.w3-border.w3-light-grey(type='text',name='data')
                    label.w3-text-teal
                        b Tipo
                    table
                        tr
                            td
                                label Mestrado  
                                input.w3-btn.w3-light-grey(type='radio', name='tipo',value='Mestrado')
                        tr
                            td
                                label Douturamento  
                                input.w3-btn.w3-teal(type='radio', name='tipo',value='Doutoramento')
                    hr.w3-container
                    table
                        tr
                            td
                                input.w3-btn.w3-blue-grey(type='submit', value='Enviar')
                            td
                            td
                                input.w3-btn.w3-blue-grey(type='reset', value='Limpar')
                    br
            footer.w3-container.w3-teal
                p
                    a(href='http://localhost:4006/')
                        | Voltar à Página Principal
                address Gerado por Gerado por Registo de Teses App de TMF.
